/* General */
body {
	margin: 0;
	background-color: #fff;
	font-family: "Helvetica Neue","Helvetica","Arial","Kai","KaiTi",Sans-Serif;
}
.container {
	margin: 0 auto;
}
@media screen and (min-width:800px) {
	.column {
		flex: 1;
	}
}
.column {
	flex-basis: 100%;
	margin: 0 2%;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 940px;
	margin: 0 auto;
}
.row h3 {
	margin:0 auto;
	font-size:34px;
}
.container ul {
	margin: 0;
	padding: 0;
}
.column {
}
.green-bg {
	background-image: linear-gradient(to bottom, #67D523, #4FC618);
}
.green-bg:hover {
	background-image: linear-gradient(to bottom, #78f52b, #41ca03);
}
.blue-bg:hover {
	background-color: #1172b8;
}
.btn {
	padding: 1% 3%;
	border-radius: 2%;
	margin-top: 1%;
	color: #fff;
	text-align: center;
}
.btn a {
	text-decoration: none;
	color: #fff;
}
.black-bg {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3), inset 0px 3px 0px 0px rgba(255,255,255,0.2);
    border-radius: 9px;
    display: inline-block;
    font-family: "Open Sans",Sans-Serif;
    background: #2a2a2a;
    color: #fff;
    width: 218px;
    padding: 10px;
    margin: 0 -1px;
}
/* navigation */
.nav {
	background-color: #b1b1b1;
	color: #fff;
	padding: 0 2%;
}
.nav a {
	text-decoration: none;
	color: #fff;
}
.header {
	background-color: #11a3ed;
}
.header-nav {
	max-width: 940px;
	text-align: right;
	color: #fff;
}
.header-nav li {
	list-style-type: none;
	display: inline-block;
	border-radius: 6%;
	padding: 3%;
}
.header-nav li:last-child {
	padding: 0;
}
.header-nav a {
	text-decoration: none;
	color: #fff;
}
.header-inner {
	max-width: 940px;
	margin: 0 auto;
	padding: 6px 0;
}
.header-logo {
	order: -1;
	padding: 1%;
}
.signup:hover {
	box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.16), inset 0px -2px 7px 0px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
	background-color: #7fe604;
	text-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.16), inset 0px -2px 7px 0px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
}
.langnav img {
	position: relative;
	top: 10px;
}

/* sections */
section {
	margin: 0 auto;
}
.blue {
	background-color: #36ADED;
	text-align: center;
	color: #fff;
}
.gray {
	background-color: #f5f4f6;
	padding-top: 3%;
}
.orange {
	background: linear-gradient(to bottom, #F77020, #F74A20);
	color:#fff;
}
.join {
	text-align: center;
	color: #fff;
}
.blue img {
	position: relative;
	top: 28px;
	max-width: 940px;
	margin: 0 auto;
	display: block;
}
/* icon images */
.learnBetter {
	background-image: url(https://d107cgb5lgj7br.cloudfront.net/general/img/landing/benefits-icons.png);
	height: 120px;
	width: 120px;
	margin: 0 auto;
}
.iosAndroid {
	background-position: -120px 0;
}
.bulb {
	background-position: -235px 0;
}
.google {
	background-image: url(https://d107cgb5lgj7br.cloudfront.net/img/mobile-cta/sprites-icons-mobile.png);
	width:46px;
	height: 48px;
	float: left;
	margin-right: 10px;
}
.apple {
	background-image: url(https://d107cgb5lgj7br.cloudfront.net/img/mobile-cta/sprites-icons-mobile.png);
	background-position: 41px 0;
	width:46px;
	height: 44px;
	float: left;
	margin-right: 10px;
}
.bigger {
	font-size:27px;
}
.orange h3 {
	color:#fff;
	font-size: 40px;
	margin:10px 0;
}
.gray .column {
	text-align: center;
}
.column1 h3 {
	font-weight: bold;
	text-align: center;
}
.column1 p {
	text-align: center;
}
/* reviews */
.reviews {
	background: url(https://d107cgb5lgj7br.cloudfront.net/general/img/landing/world-md.png);
}
.reviews h3 {
	color:#42515E;
}